@font-face {
    font-family: segoeui;
    src: url(segoeui.ttf);
}
body {
    background-color: #8ee0c2;
    font-size: 18px;
    color: #fff;
    font-family: 'segoeui', sans-serif;
}
#menu_mob {
    display: none;
}
#menu_mob_epx {
    display: none;
}
#logotriangle {
    display: none;
}
#logo {
    display: none;
}
nav {
    position: fixed;
    top:20px;
    background: rgba(70, 154, 123, 0.8);
    border-radius: 30px;
    opacity: 50;
}